/* Navbar css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--color-violet);
  z-index: 999;

  .link-container {
    display: flex;
    align-items: center;
    gap: 20px;

    .title {
      color: white;
    }
  }

  p {
    color: var(--color-primary-text);
    font-size: 2rem;
    font-weight: 900;
  }

  a {
    text-decoration: none;
  }

  .title-container {
    display: flex;
    gap: 10px;

    img {
      width: 40px;
    }
  }

  input {
    font-size: 1.25rem;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    min-width: 500px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .fake-button {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .fake-button:hover {
    box-shadow: 0 10px 40px rgba(255, 255, 255, 0.5);
  }

  button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 900;
    font-size: 1.25rem;
    color: var(--color-white);
    background-color: var(--color-violet);
    border: solid 2px var(--color-white);
    transition: all 0.3s ease;
  }

  button:hover {
    color: var(--color-violet);
    background-color: var(--color-white);
    cursor: pointer;
  }
}

/* Confirmation Popup css */
.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 30px 40px;
  border-radius: 20px;
  border: solid 3px var(--color-violet);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  z-index: 999;

  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-violet);
  }

  p {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    button {
      padding: 10px 20px;
      font-size: 1.25rem;
      font-weight: 800;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      width: 120px;
      color: var(--color-white);
      background-color: var(--color-violet);
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: var(--color-light-violet);
    }
  }
}

/* Message css */
.message {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 10%);
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  z-index: 999;

  p {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.error {
  color: var(--color-dark-red);
  background-color: var(--color-pale-red);
  border: solid 2px var(--color-dark-red);
}

.success {
  color: var(--color-dark-green);
  background-color: var(--color-pale-green);
  border: solid 2px var(--color-dark-green);
}

/* Add product css */
.add-product,
.edit-product {
  width: 40vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
  padding: 40px;
  border-radius: 20px;
  border: solid 3px var(--color-violet);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);

  h2 {
    font-size: 2rem;
    color: var(--color-violet);
    padding-bottom: 20px;
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    width: 100%;
  }

  .input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    label {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 5px;
    }

    input,
    textarea {
      font-size: 1.25rem;
      font-weight: 500;
      outline: none;
      padding: 5px;
      border: none;
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
    }

    textarea {
      height: 10vh;
      resize: none;
    }
  }

  .image-preview {
    display: flex;
    justify-content: center;

    img {
      width: 200px;
      border-radius: 20px;
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    gap: 5vw;

    button {
      padding: 10px 20px;
      font-weight: 800;
      border-radius: 10px;
      font-size: 1.25rem;
      width: 150px;
      cursor: pointer;
      border: solid 2px var(--color-violet);
      color: var(--color-violet);
      background-color: white;
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: var(--color-violet);
      color: white;
    }
  }
}

/* Verify shop css */
.verify-shop {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 20px;
  border: solid 3px var(--color-violet);
  background-color: var(--color-white);

  h1 {
    font-size: 2.5rem;
    color: var(--color-violet);
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    p:first-child {
      font-size: 1.5rem;
      font-weight: 700;
    }

    p:last-child {
      font-size: 1.25rem;
      font-weight: 500;
      text-align: justify;
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    label {
      font-size: 1.25rem;
      font-weight: 700;
    }

    input {
      font-size: 1.25rem;
      font-weight: 500;
      outline: none;
      padding: 5px;
      border: none;
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    gap: 5vw;

    button {
      padding: 10px 20px;
      font-weight: 800;
      border-radius: 10px;
      font-size: 1.25rem;
      width: 200px;
      cursor: pointer;
      border: solid 2px var(--color-violet);
      color: var(--color-violet);
      background-color: white;
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: var(--color-violet);
      color: white;
    }
  }
}
