.history {
  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-violet);
  }

  .history-container {
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);

    .button-group {
      display: flex;
      justify-content: space-between;

      button:first-child {
        border-top-left-radius: 10px;
      }

      button:last-child {
        border-top-right-radius: 10px;
      }

      button {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 10px;
        cursor: pointer;
        border: solid 2px var(--color-violet);
        color: var(--color-violet);
        transition: all 0.3s ease;
      }

      button:hover,
      button.active {
        background-color: var(--color-violet);
        color: white;
      }
    }

    .order-container {
      padding: 0 40px 10px 40px;
      min-height: 70vh;

      /* Pending order css */
      .pending-order {
        .order-item {
          position: relative;
          display: flex;
          flex-direction: column;
          margin: 40px 0;
          padding: 30px 40px 40px 40px;
          border-radius: 20px;
          box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);

          .item-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: solid 2px var(--color-violet);

            p,
            span {
              font-size: 1.5rem;

              span {
                font-weight: 800;
              }
            }

            button {
              font-weight: 700;
              padding: 10px;
              cursor: pointer;
              border-radius: 5px;
              border: solid 2px var(--color-violet);
              background-color: var(--color-violet);
              color: white;
              transition: all 0.3s ease;
            }

            button:hover {
              background-color: var(--color-white);
              color: var(--color-violet);
            }
          }

          .item-container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .product-item {
              display: flex;
              align-items: center;
              gap: 20px;

              img {
                width: 200px;
                border-radius: 20px;
              }

              .product-details {
                display: flex;
                flex-direction: column;

                p:first-child {
                  font-size: 2rem;
                  font-weight: 800;
                  color: var(--color-violet);
                }
              }
            }

            .order-details {
              width: 55vw;
              display: flex;
              justify-content: space-between;

              .detail {
                display: flex;
                flex-direction: column;
                align-items: center;

                .label {
                  font-size: 1.25rem;
                  font-weight: 800;
                }

                p {
                  font-size: 1.5rem;
                  font-weight: 500;
                }
              }
            }
          }
        }

        .empty-pending {
          min-height: 60vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h1 {
            font-size: 4rem;
          }

          p {
            font-size: 2rem;
            font-weight: 600;
          }
        }
      }
    }

    .order-cancelled {
      display: flex;
      justify-content: center;
      gap: 20px;

      p {
        font-size: 1.5rem;
      }

      p:first-child {
        font-weight: 700;
      }
    }
  }

  .review-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 8px 20px;
    cursor: pointer;
    border: solid 2px var(--color-violet);
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 800;
    background-color: var(--color-violet);
    color: var(--color-white);
    transition: all 0.3s ease;
  }

  .review-btn:hover {
    background-color: var(--color-white);
    color: var(--color-violet);
  }

  .status-pending {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(251, 255, 33);
    color: var(--color-white);
  }

  .order-cancel, .cancel-requested {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-dark-red);
    color: var(--color-white);
  }

  .status-green {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-dark-green);
    color: var(--color-white);
  }
}
