.menu {
  margin-top: 8vh;
  padding: 0;
  height: 88vh;
  position: relative;

  .side-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7vh;
    left: 0;
    width: 5vw;
    min-width: 100px;
    height: 95vh;
    z-index: 2;
    border-right: solid 2px var(--color-violet);
    transition: all 0.5s ease;
    overflow: visible;

    &.expanded {
      width: 15vw;
      min-width: 200px;

      &::after {
        opacity: 0;
      }
    }

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 60px 30px 60px 10px;
      list-style-type: none;

      li {
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;

        svg {
          min-width: 20px;
          min-height: 20px;
        }

        p {
          margin-left: 10px;
          transition: opacity 0.3s;
          opacity: 0;
          font-size: 1.25rem;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:not(.expanded)::after {
          content: attr(data-tooltip);
          position: absolute;
          left: 105%;
          white-space: nowrap;
          background-color: var(--color-violet);
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          opacity: 0;
          z-index: 999;
          transform: translateX(10px);
          transition: opacity 0.3s, transform 0.3s;
          pointer-events: none;
        }

        &:not(.expanded):hover::after {
          opacity: 1;
          transform: translateX(0);
        }
      }

      li:hover {
        color: white;
        background-color: var(--color-violet);
      }

      li.active {
        color: white;
        background-color: var(--color-violet);
      }
    }

    &.expanded li:hover::after {
      display: none;
    }

    &.expanded ul li p {
      opacity: 1;
    }

    .toggle-sidebar {
      position: absolute;
      right: -20px;
      bottom: 55%;
      border-radius: 50%;
      background-color: white;
      padding: 5px;
      cursor: pointer;
      border: solid 2px var(--color-violet);
    }
  }

  .selected-item {
    position: relative;
    padding: 10px;
    transition: all 0.5s ease;
  }

  /* Profile css */
  .user {
    display: flex;
    padding: 8vh 5vw 0 5vw;
    gap: 5vw;

    .user-profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2vh;

      img {
        width: 300px;
        border-radius: 50%;
      }

      .account-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;

        p {
          font-size: 1.25rem;
        }

        p:first-child {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }

      button {
        margin-top: 3vh;
        display: flex;
        align-items: center;
        width: 150px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        gap: 1vw;
        padding: 5px 20px;
        background-color: var(--color-violet);
        border: solid 2px var(--color-violet);
        transition: all 0.3s ease;

        p {
          font-size: 1.25rem;
          font-weight: 700;
          color: white;
          transition: all 0.3s ease;
        }

        svg {
          color: white;
          transition: all 0.3s ease;
        }
      }

      button:hover {
        background-color: white;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);

        p {
          color: var(--color-violet);
        }

        svg {
          color: var(--color-violet);
        }
      }
    }

    .user-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5vh;

      h2 {
        font-size: 3rem;
        color: var(--color-violet);
      }

      .info {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5vh;
        gap: 2.5vh;

        .field-container {
          display: flex;
          justify-content: space-between;
          gap: 5vw;
          width: 100%;

          .field {
            display: flex;
            flex-direction: column;
            gap: 1vh;
            width: 100%;

            label {
              font-size: 1.25rem;
              font-weight: 600;
            }

            input,
            select {
              border: none;
              outline: none;
              width: 100%;
              padding: 10px;
              font-size: 1.25rem;
              font-weight: 500;
              background-color: rgb(230, 230, 230);
              border-radius: 5px;
            }

            select {
              width: calc(100% + 1vw);
            }

            input::placeholder {
              color: black;
            }

            select option {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }

  /* Set up shop css */
  .shop-container {
    width: 75%;
    display: flex;
    justify-content: space-around;
    padding: 8vh 5vw 0 5vw;

    .shop-profile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2vh;

      img {
        width: 300px;
        border-radius: 50%;
      }

      .shop-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;

        p {
          font-size: 1.25rem;
          font-weight: 500;
        }

        p:first-child {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }

      button {
        margin-top: 3vh;
        display: flex;
        align-items: center;
        width: 150px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        gap: 1vw;
        padding: 5px 20px;
        background-color: var(--color-violet);
        border: solid 2px var(--color-violet);
        transition: all 0.3s ease;

        p {
          font-size: 1.25rem;
          font-weight: 700;
          color: white;
          transition: all 0.3s ease;
        }

        svg {
          color: white;
          transition: all 0.3s ease;
        }
      }

      button:hover {
        background-color: white;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);

        p {
          color: var(--color-violet);
        }

        svg {
          color: var(--color-violet);
        }
      }
    }

    h2 {
      font-size: 3rem;
      color: var(--color-violet);
    }

    .shop-info {
      display: flex;
      flex-direction: column;
      margin-bottom: 2.5vh;
      width: 100%;
      gap: 2.5vh;

      .field-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5vw;
        width: 100%;

        .field {
          display: flex;
          flex-direction: column;
          gap: 1vh;
          width: 100%;

          label {
            font-size: 1.25rem;
            font-weight: 600;
          }

          input,
          textarea {
            border: none;
            outline: none;
            width: 100%;
            padding: 10px;
            font-size: 1.25rem;
            font-weight: 500;
            background-color: rgb(230, 230, 230);
            border-radius: 5px;
          }

          textarea {
            resize: none;
            width: 100%;
            height: 10vh;
          }

          input::placeholder {
            color: black;
          }
        }
      }
    }
  }

  /* Signout css */
  .signout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);

    h1 {
      font-size: 2rem;
      font-weight: 800;
      color: var(--color-violet);
    }

    p {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .button-group {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      button {
        padding: 10px 20px;
        font-size: 1.25rem;
        font-weight: 800;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 120px;
        color: var(--color-white);
        background-color: var(--color-violet);
        transition: all 0.3s ease;
      }

      button:hover {
        background-color: var(--color-light-violet);
      }
    }
  }
}
