.product-item {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);

    img {
        width: 250px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        gap: 1vh;

        h3 {
            font-size: 1.5rem;
        }
    }
}