.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .carrousel {
    padding: 0 0 30px 0;

    img {
      width: 100%;
      border-radius: 20px;
    }
  }

  .text-container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .button-container {
    display: flex;
    gap: 20px;

    button {
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-weight: 900;
      font-size: 1.25rem;
      color: var(--color-violet);
      background-color: var(--color-pale-stone);
      transition: all 0.3s ease;
    }

    button:hover {
      color: var(--color-pale-stone);
      background-color: var(--color-violet);
      cursor: pointer;
    }
  }

  .products-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }
}
